html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;

    overflow: hidden;
    overflow-x: scroll;

    display: flex;
}

.child {
    display: flex;
}

.img-block {
    height: 100vh;
    width: 50vw;

    background-position: center;
    background-size: cover;

    background-attachment: fixed;
}

.i1 {
    background-image: url('https://picsum.photos/g/1920/1080?random');
}

.i2 {
    background-image: url('https://picsum.photos/g/1920/1081?random');
}

.data-block {
    height: 100vh;
    width: 50vw;
    font-size: large;
    padding: 20px;
    text-align: center;
}